        elif source == '{{ connector }}':
            for line in read.splitlines():
{{ extractifloop }}
                else:
                    print("{{ connector }} source is invalid check the config file \n")
                    exit()						