CREATE OR REPLACE TABLE {{ tablename }}
(
        {%- set comma = joiner(",") -%}
        {{COLUMNS}}
,lineage_input_domain VARCHAR
,lineage_input_url VARCHAR
,lineage_input_line_number VARCHAR 
,lineage_ingestion_id VARCHAR 
,lineage_batch_id VARCHAR 
,correlationid VARCHAR		
,LDG_REC_CREAT_DT TIMESTAMP
,LDG_REC_UPDT_DT TIMESTAMP
);
	
	
CREATE OR REPLACE PIPE {{ tablename }}_PIPE auto_ingest=true AS
COPY INTO  {{ tablename }} 
FROM ( SELECT   
{{empty_line}}
        {%- set comma = joiner(",") -%}
        {{PIPE_COLUMS}}
,t.$1:__lineage:input_domain
,t.$1:__lineage:input_url
,t.$1:__lineage:input_line_number
,t.$1:__lineage:ingestion_id
,t.$1:__lineage:batch_id
,t.$1:root_id
,current_timestamp()
,current_timestamp()
FROM
{{s3_path}} t)
file_format = ( FORMAT_NAME={{file_format}});


CREATE OR REPLACE STREAM {{ tablename }}_STREAM_COUNT  ON TABLE {{ tablename }};


CREATE OR REPLACE PROCEDURE {{ tablename }}_COUNT_CHECK_PROC()
  RETURNS VARCHAR
  LANGUAGE javascript
  EXECUTE AS CALLER    
  AS
  $$
  var rs = snowflake.execute( { sqlText:
      `BEGIN TRANSACTION;`
       } );
 

  var rs = snowflake.execute( { sqlText: 
      `CREATE  OR REPLACE TABLE {{transient_tablename}}_STREAM_COUNT_TEMP AS SELECT * FROM 
	  {{ tablename }}_STREAM_COUNT
         ;`
} );
 
  var rs = snowflake.execute( { sqlText: 
      `CREATE  OR REPLACE TABLE {{ transient_tablename }}_COUNT
         AS          
         SELECT '{{ CONNECTOR_UP }}' AS CONNECTOR, '{{ SOURCE }}' AS SOURCE, '{{ TABLE_NAME }}' AS TABLE_NAME, lineage_ingestion_id as INGESTIONID, COUNT(*) AS RECORD_COUNT 
         FROM
         {{ tablename }}   
         WHERE lineage_ingestion_id  IN (SELECT DISTINCT lineage_ingestion_id  FROM 
		 {{ transient_tablename }}_STREAM_COUNT_TEMP ) GROUP BY 1, 2, 3, 4
         ;`
} );
 
 
  var rs = snowflake.execute( { sqlText:
        `MERGE INTO {{ TARGET_INGESTION_TABLE }} AS T
        using      {{ transient_tablename }}_COUNT   AS S     
         ON T.TABLE_NAME = S.TABLE_NAME    
         AND T.INGESTIONID = S.INGESTIONID
         AND T.CONNECTOR = S.CONNECTOR    
         AND T.SOURCE = S.SOURCE    
         WHEN matched
              THEN
              UPDATE SET  
                     T.RECORD_COUNT = S.RECORD_COUNT
         WHEN NOT matched
             THEN
                     INSERT(CONNECTOR,SOURCE, TABLE_NAME,INGESTIONID,RECORD_COUNT)
                     VALUES(S.CONNECTOR,S.SOURCE,S.TABLE_NAME, S.INGESTIONID, S.RECORD_COUNT)
         ;`
} );
 

  var rs = snowflake.execute( { sqlText: 
      `CREATE  OR REPLACE TABLE {{ transient_tablename }}_COUNT
         AS          
         SELECT '{{ CONNECTOR_UP }}' AS CONNECTOR, '{{ SOURCE }}' AS SOURCE, '{{ TABLE_NAME }}' AS TABLE_NAME, lineage_batch_id as BATCH_ID, COUNT(*) AS RECORD_COUNT 
         FROM
         {{ tablename }}     
         WHERE lineage_batch_id IN (SELECT DISTINCT lineage_batch_id FROM 
		 {{ transient_tablename }}_STREAM_COUNT_TEMP ) GROUP BY 1, 2, 3, 4
         ;`
} );
 
 
  var rs = snowflake.execute( { sqlText:
        `MERGE INTO {{ TARGET_BATCH_TABLE }} AS T
        using      {{ transient_tablename }}_COUNT   AS S     
         ON T.TABLE_NAME = S.TABLE_NAME    
         AND T.BATCH_ID = S.BATCH_ID
         AND T.CONNECTOR = S.CONNECTOR        
         AND T.SOURCE = S.SOURCE    
         WHEN matched
              THEN
              UPDATE SET  
                     T.RECORD_COUNT = S.RECORD_COUNT
         WHEN NOT matched
             THEN
                     INSERT(CONNECTOR,SOURCE, TABLE_NAME,BATCH_ID,RECORD_COUNT)
                     VALUES(S.CONNECTOR,S.SOURCE,S.TABLE_NAME, S.BATCH_ID, S.RECORD_COUNT)
         ;`
} );
 

  var rs = snowflake.execute( { sqlText:
        `COMMIT;`
         } );       
    return 'Done.';
    $$;


CREATE  OR REPLACE TASK {{ tablename }}_COUNT_CHECK_TASK
  warehouse = {{ WAREHOUSE }}
  schedule = '5 minute'
WHEN    
   SYSTEM$STREAM_HAS_DATA('{{ tablename }}_STREAM_COUNT')            
as
  call {{ tablename }}_COUNT_CHECK_PROC();
 

 
CREATE OR REPLACE TASK {{ tablename }}_COPY_HISTORY_1
  warehouse = {{ WAREHOUSE }}
  AFTER {{ tablename }}_COUNT_CHECK_TASK
as
  CREATE  OR REPLACE TABLE  {{ transient_tablename }}_TEMP_COUNT_COPY_HISOTRY
 AS
 SELECT TABLE_NAME, TABLE_SCHEMA_NAME AS SCHEMA_NAME, SPLIT(FILE_NAME,'/')[4]::String AS FILE_NAME, PIPE_RECEIVED_TIME AS LOAD_START_TIME, LAST_LOAD_TIME AS LOAD_END_TIME,
 ROW_COUNT AS RECORD_COUNT,
 FIRST_ERROR_MESSAGE AS ERROR_MESSAGE, FIRST_ERROR_LINE_NUMBER AS ERROR_LINE_NUMBER, FIRST_ERROR_COLUMN_NAME AS ERROR_COLUMN_NAME, ERROR_COUNT, STATUS
 from table(information_schema.copy_history(table_name=>'{{ tablename }}', start_time=> dateadd(hours, -24, CURRENT_TIMESTAMP()))) WHERE STATUS NOT IN ('LOAD_IN_PROGRESS');
     
	 

CREATE OR REPLACE PROCEDURE {{ tablename }}_COPY_HISTORY_PROC()
  RETURNS VARCHAR
  LANGUAGE javascript
  EXECUTE AS CALLER    
  AS
  $$
  var rs = snowflake.execute( { sqlText:
      `BEGIN TRANSACTION;`
       } );
 


  var rs = snowflake.execute( { sqlText:
        `MERGE INTO {{ COPY_HISTORY_TABLE }} AS T
         USING  {{ transient_tablename }}_TEMP_COUNT_COPY_HISOTRY  AS S     
         ON T.TABLE_NAME = S.TABLE_NAME     
         AND T.SCHEMA_NAME = S.SCHEMA_NAME
         AND T.FILE_NAME = S.FILE_NAME
         AND T.STATUS = S.STATUS
         AND T.RECORD_COUNT = S.RECORD_COUNT
         AND T.LOAD_START_TIME = S.LOAD_START_TIME
         AND T.LOAD_END_TIME = S.LOAD_END_TIME
         AND T.ERROR_COUNT = S.ERROR_COUNT
         WHEN matched
              THEN
              UPDATE SET  
                     T.ERROR_MESSAGE = S.ERROR_MESSAGE,
                     T.ERROR_LINE_NUMBER = S.ERROR_LINE_NUMBER,
                     T.ERROR_COLUMN_NAME = S.ERROR_COLUMN_NAME,
                     T.ERROR_COUNT = S.ERROR_COUNT    
         WHEN NOT matched
             THEN
                     INSERT(TABLE_NAME, SCHEMA_NAME, FILE_NAME, LOAD_START_TIME, LOAD_END_TIME, RECORD_COUNT, ERROR_MESSAGE, ERROR_LINE_NUMBER, ERROR_COLUMN_NAME, ERROR_COUNT, STATUS)
                     VALUES(S.TABLE_NAME, S.SCHEMA_NAME, S.FILE_NAME, S.LOAD_START_TIME, S.LOAD_END_TIME, S.RECORD_COUNT, S.ERROR_MESSAGE, S.ERROR_LINE_NUMBER, S.ERROR_COLUMN_NAME, S.ERROR_COUNT, S.STATUS)
         ;`
} );
 

  var rs = snowflake.execute( { sqlText:
        `COMMIT;`
         } );       
    return 'Done.';
    $$;
	
	

CREATE OR REPLACE TASK {{ tablename }}_COPY_HISTORY_2
  warehouse =  {{ WAREHOUSE }}
  AFTER {{ tablename }}_COPY_HISTORY_1
as
  call {{ tablename }}_COPY_HISTORY_PROC();
 
 

ALTER TASK {{ tablename }}_COPY_HISTORY_1 RESUME;
ALTER TASK {{ tablename }}_COPY_HISTORY_2 RESUME;
ALTER TASK {{ tablename }}_COUNT_CHECK_TASK RESUME;   
