CREATE TABLE {{ tablename }}
WITH
(
	bucket_count=5,
	bucketed_by = ARRAY['CorrelationID']
)
AS
(
    SELECT
        {%- set comma = joiner(",") -%}
        {%- for key,value in attributes.items(): %}
            {{ comma() }}{{ key }}
        {%- endfor %}
FROM
    (
        SELECT
            *,ROW_NUMBER()OVER(PARTITION BY Partition_3,HashId ORDER BY HashId) RowNum
        FROM
        (
            SELECT
                *
            FROM
        cambia{{ env }}_data_main.conn_unnested_{{ tablename }}
    WHERE
        CAST(partition_3 AS INTEGER) = replace_ingestionid
         )
    )
    WHERE RowNum = 1
);