CREATE OR REPLACE TABLE {{ tablename }}
(
        {%- set comma = joiner(",") -%}
        {%- for key,value in attributes.items(): %}
            {{ comma() }}{{ key }} {{value['type']}}
        {%- endfor %}
,LDG_REC_CREAT_DT TIMESTAMP
,LDG_REC_UPDT_DT TIMESTAMP
,INGESTIONID varchar,
CONSTRAINT  {{ONLY_TABLE_NAME}}_PKEY_1 primary key (SOURCE, SOURCEID, CORRELATIONID) not enforced
);
	
	
CREATE OR REPLACE PIPE {{ tablename }}_PIPE auto_ingest=true AS
COPY INTO  {{ tablename }} 
FROM ( SELECT   
        {%- set comma = joiner(",") -%}
        {%- for key,value in attributes.items(): %}
            {{ comma() }}t.$1:{{ key }}
        {%- endfor %}
,current_timestamp()
,current_timestamp()
,t.$1:partition_3
FROM
{{s3_path}} t)
file_format = ( FORMAT_NAME={{file_format}});


CREATE OR REPLACE STREAM {{ tablename }}_STREAM_COUNT  ON TABLE {{ tablename }};


CREATE OR REPLACE PROCEDURE {{ tablename }}_COUNT_CHECK_PROC()
  RETURNS VARCHAR
  LANGUAGE javascript
  EXECUTE AS CALLER    
  AS
  $$
  var rs = snowflake.execute( { sqlText:
      `BEGIN TRANSACTION;`
       } );
 
 
  var rs = snowflake.execute( { sqlText: 
      `CREATE  OR REPLACE TABLE {{ transient_tablename }}_TEMP_COUNT
         AS
         SELECT UPPER(SOURCE) AS SOURCE, '{{ONLY_TABLE_NAME}}' AS TABLE_NAME, INGESTIONID, COUNT(*) AS RECORD_COUNT 
         FROM
         {{ tablename }} 
         WHERE INGESTIONID IN (SELECT DISTINCT INGESTIONID FROM {{ tablename }}_STREAM_COUNT ) GROUP BY 1, 2, 3
         ;`
} );
 
 
  var rs = snowflake.execute( { sqlText:
        `MERGE INTO {{ TARGET_INGESTION_TABLE }} AS T
        using      {{ transient_tablename }}_TEMP_COUNT   AS S     
         ON T.TABLE_NAME = S.TABLE_NAME
         AND T.INGESTIONID = S.INGESTIONID
         AND T.SOURCE = S.SOURCE
         WHEN matched
              THEN
              UPDATE SET  
                     T.RECORD_COUNT = S.RECORD_COUNT
         WHEN NOT matched
             THEN
                     INSERT(SOURCE, TABLE_NAME,INGESTIONID,RECORD_COUNT)
                     VALUES(S.SOURCE,S.TABLE_NAME, S.INGESTIONID, S.RECORD_COUNT)
         ;`
} );
 
  var rs = snowflake.execute( { sqlText:
        `COMMIT;`
         } );       
    return 'Done.';
    $$;


CREATE  OR REPLACE TASK {{ tablename }}_COUNT_CHECK_TASK
  warehouse = {{ WAREHOUSE }}
  schedule = '1 minute'
WHEN    
   SYSTEM$STREAM_HAS_DATA('{{ tablename }}_STREAM_COUNT')            
as
  call {{ tablename }}_COUNT_CHECK_PROC();
 

 
CREATE OR REPLACE TASK {{ tablename }}_COPY_HISTORY_1
  warehouse = {{ WAREHOUSE }}
  AFTER {{ tablename }}_COUNT_CHECK_TASK
as
  CREATE  OR REPLACE TABLE  {{ transient_tablename }}_TEMP_COUNT_COPY_HISOTRY
 AS
 SELECT TABLE_NAME, TABLE_SCHEMA_NAME AS SCHEMA_NAME, SPLIT(FILE_NAME,'/')[4]::String AS FILE_NAME, PIPE_RECEIVED_TIME AS LOAD_START_TIME, LAST_LOAD_TIME AS LOAD_END_TIME,
 ROW_COUNT AS RECORD_COUNT,
 FIRST_ERROR_MESSAGE AS ERROR_MESSAGE, FIRST_ERROR_LINE_NUMBER AS ERROR_LINE_NUMBER, FIRST_ERROR_COLUMN_NAME AS ERROR_COLUMN_NAME, ERROR_COUNT, STATUS
 from table(information_schema.copy_history(table_name=>'{{ tablename }}', start_time=> dateadd(hours, -24, CURRENT_TIMESTAMP()))) WHERE STATUS NOT IN ('LOAD_IN_PROGRESS');
     
	 

CREATE OR REPLACE PROCEDURE {{ tablename }}_COPY_HISTORY_PROC()
  RETURNS VARCHAR
  LANGUAGE javascript
  EXECUTE AS CALLER    
  AS
  $$
  var rs = snowflake.execute( { sqlText:
      `BEGIN TRANSACTION;`
       } );
 


  var rs = snowflake.execute( { sqlText:
        `MERGE INTO {{ COPY_HISTORY_TABLE }} AS T
         USING  {{ transient_tablename }}_TEMP_COUNT_COPY_HISOTRY  AS S     
         ON T.TABLE_NAME = S.TABLE_NAME     
         AND T.SCHEMA_NAME = S.SCHEMA_NAME
         AND T.FILE_NAME = S.FILE_NAME
         AND T.STATUS = S.STATUS
         AND T.RECORD_COUNT = S.RECORD_COUNT
         AND T.LOAD_START_TIME = S.LOAD_START_TIME
         AND T.LOAD_END_TIME = S.LOAD_END_TIME
         AND T.ERROR_COUNT = S.ERROR_COUNT
         WHEN matched
              THEN
              UPDATE SET  
                     T.ERROR_MESSAGE = S.ERROR_MESSAGE,
                     T.ERROR_LINE_NUMBER = S.ERROR_LINE_NUMBER,
                     T.ERROR_COLUMN_NAME = S.ERROR_COLUMN_NAME,
                     T.ERROR_COUNT = S.ERROR_COUNT    
         WHEN NOT matched
             THEN
                     INSERT(TABLE_NAME, SCHEMA_NAME, FILE_NAME, LOAD_START_TIME, LOAD_END_TIME, RECORD_COUNT, ERROR_MESSAGE, ERROR_LINE_NUMBER, ERROR_COLUMN_NAME, ERROR_COUNT, STATUS)
                     VALUES(S.TABLE_NAME, S.SCHEMA_NAME, S.FILE_NAME, S.LOAD_START_TIME, S.LOAD_END_TIME, S.RECORD_COUNT, S.ERROR_MESSAGE, S.ERROR_LINE_NUMBER, S.ERROR_COLUMN_NAME, S.ERROR_COUNT, S.STATUS)
         ;`
} );
 

  var rs = snowflake.execute( { sqlText:
        `COMMIT;`
         } );       
    return 'Done.';
    $$;
	
	

CREATE OR REPLACE TASK {{ tablename }}_COPY_HISTORY_2
  warehouse =  {{ WAREHOUSE }}
  AFTER {{ tablename }}_COPY_HISTORY_1
as
  call {{ tablename }}_COPY_HISTORY_PROC();
 
 

ALTER TASK {{ tablename }}_COPY_HISTORY_1 RESUME;
ALTER TASK {{ tablename }}_COPY_HISTORY_2 RESUME;
ALTER TASK {{ tablename }}_COUNT_CHECK_TASK RESUME;   
