
CREATE OR REPLACE TABLE ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}} (
	CONNECTOR VARCHAR,
	SOURCE VARCHAR,
	INGESTION_ID NUMBER,
	INGESTION_STATUS VARCHAR,
	LOAD_ORDER NUMBER
);


CREATE OR REPLACE SEQUENCE ABACUS_PRD_FND_DB.LANDING.CONTRIGGER_{{UPPER_CONNECTOR}} start with 1 increment by 1;


CREATE OR REPLACE PIPE ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_PIPE auto_ingest=true AS 
COPY INTO ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}
     FROM
         (SELECT t.$1, t.$2, t.$3, t.$4,  ABACUS_PRD_FND_DB.LANDING.CONTRIGGER_{{UPPER_CONNECTOR}}.nextval  from @ABACUS_PRD_FND_DB.LANDING.PROD_ABACUS_STG/connector_trigger/{{SOURCE}}/{{UPPER_CONNECTOR}}/ t);


create or replace TABLE ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_VALIDATION (
	CONNECTOR VARCHAR,
	SOURCE VARCHAR,
	INGESTION_ID NUMBER,
	INGESTION_STATUS VARCHAR,
	LOAD_ORDER NUMBER,
	RUN_TIME TIMESTAMP
);



CREATE OR REPLACE PROCEDURE ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_PROC1()
  RETURNS VARCHAR
  LANGUAGE javascript
  EXECUTE AS CALLER  
  AS
  $$

  var rs = snowflake.execute( { sqlText:
      `BEGIN TRANSACTION;`
       } );

  var stmt = snowflake.createStatement(
      {sqlText: "set STATUS_ID = 'VALIDATION-INP'"}
      );
  var rs = stmt.execute();  


  var rs = snowflake.execute( { sqlText:
      `UPDATE  ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}
		SET INGESTION_STATUS = 'VALIDATION-INP'
		WHERE (SOURCE,INGESTION_ID, INGESTION_STATUS)
		IN
		(
		SELECT TOP 1 SOURCE,INGESTION_ID, INGESTION_STATUS FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}} WHERE
		INGESTION_STATUS IN ('NEW','VALIDATION-INP') 
		ORDER BY LOAD_ORDER
		)
		AND $STATUS_ID NOT IN (select DISTINCT INGESTION_STATUS FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}});`
       } );



  var stmt = snowflake.createStatement(
      {sqlText: "set VALIDATION_ID = (SELECT INGESTION_ID FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}} WHERE INGESTION_STATUS = 'VALIDATION-INP')"}
      );
  var rs = stmt.execute();  



  var stmt = snowflake.createStatement(
      {sqlText: "set SOURCE_ID = (SELECT SOURCE FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}} WHERE INGESTION_STATUS = 'VALIDATION-INP')"}
      );
  var rs = stmt.execute();  



  var stmt = snowflake.createStatement(
      {sqlText: "set CONNECTOR_ID = (SELECT CONNECTOR FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}} WHERE INGESTION_STATUS = 'VALIDATION-INP')"}
      );
  var rs = stmt.execute();  




  var rs = snowflake.execute( { sqlText:
      `INSERT INTO ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_VALIDATION
		SELECT CONNECTOR, SOURCE, INGESTION_ID, INGESTION_STATUS, LOAD_ORDER, CURRENT_TIMESTAMP() FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}} WHERE
		INGESTION_STATUS  = 'VALIDATION-INP'
		AND 
		($CONNECTOR_ID, $SOURCE_ID, $VALIDATION_ID, INGESTION_STATUS)
		NOT IN 
		(
		SELECT CONNECTOR, SOURCE, INGESTION_ID, INGESTION_STATUS
		FROM
		ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_VALIDATION
		)
		AND
		($SOURCE_ID, $VALIDATION_ID)
		NOT IN
		(
		SELECT SOURCE, INGESTION_ID FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}} WHERE INGESTION_STATUS = 'LOAD_COMPLETED'
		)
		;`
       } );

  var rs = snowflake.execute( { sqlText:
        `COMMIT;`
         } );
    return 'Done.';
    $$;
 

 
CREATE OR REPLACE TASK ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_TASK1
  warehouse = PRD_ABACUS_VALDN_XS_WH
  schedule = '1 minute'
as
  call ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_PROC1();


ALTER TASK ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_TASK1 RESUME;



create or replace procedure ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_PROC2()
  returns float
  language javascript
  EXECUTE AS CALLER
  as
  $$

  var rs = snowflake.execute( { sqlText:
      `BEGIN TRANSACTION;`
       } );
 

  var stmt = snowflake.createStatement(
      {sqlText: "SET SUCCESS_STATUS = 'SUCCESS'"}
      );
  var rs = stmt.execute();  

  var stmt = snowflake.createStatement(
      {sqlText: "set VALIDATION_ID = (SELECT INGESTION_ID FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_VALIDATION WHERE INGESTION_STATUS = 'VALIDATION-INP' AND RUN_TIME = (SELECT MAX(RUN_TIME) FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_VALIDATION) AND 'VALIDATION-INP' IN (SELECT DISTINCT INGESTION_STATUS FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}))"}
      );
  var rs = stmt.execute();  


  var stmt = snowflake.createStatement(
      {sqlText: "set SOURCE_ID = (SELECT SOURCE FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_VALIDATION WHERE INGESTION_STATUS = 'VALIDATION-INP' AND RUN_TIME = (SELECT MAX(RUN_TIME) FROM ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_VALIDATION))"}
      );
  var rs = stmt.execute();  


  var stmt = snowflake.createStatement(
      {sqlText: "set FILE_COUNT = (SELECT COUNT(*) FROM (SELECT DISTINCT CONNECTOR, SOURCE, OBJ_NAME, INGESTION_ID FROM ABACUS_PRD_FND_DB.CONTROL.MANIFEST_LANDING WHERE INGESTION_ID = $VALIDATION_ID AND FILE_NAME != 'No_File' group by 1,2,3,4))"}
      );
  var rs = stmt.execute();  


  var stmt = snowflake.createStatement(
      {sqlText: "set SD_FILE_COUNT = (SELECT COUNT(*) FROM (SELECT DISTINCT CONNECTOR, SOURCE, TABLE_NAME, BATCH_ID AS INGESTIONID FROM ABACUS_PRD_FND_DB.CONTROL.SOURCE_DATA_MANIFEST WHERE INGESTIONID = $VALIDATION_ID AND FILE_NAME != 'No_File' group by 1,2,3,4))"}
      );
  var rs = stmt.execute();  

  


  stmt = snowflake.createStatement(
      {sqlText: "UPDATE ABACUS_PRD_FND_DB.CONTROL.ENTITY_LOAD_LOG_LANDING SET DOMAIN_STATUS = 'SUCCESS', DOMAIN_LOAD_END_TIME = CURRENT_TIMESTAMP() WHERE INGESTION_ID IN (SELECT INGESTIONID FROM (SELECT $SOURCE_ID, $VALIDATION_ID AS INGESTIONID, COUNT(*)  AS PASS_COUNT, 'LANDING_VALIDATION_DONE' FROM (SELECT A.*, B.RECORD_COUNT, CASE WHEN A.RECORD_COUNT_MF = B.RECORD_COUNT THEN 'PASS' ELSE 'FAIL' END AS LOAD_STATUS FROM (SELECT  CONNECTOR, SOURCE, OBJ_NAME, INGESTION_ID, SUM(RECORD_COUNT) AS  RECORD_COUNT_MF FROM ABACUS_PRD_FND_DB.CONTROL.MANIFEST_LANDING WHERE INGESTION_ID = $VALIDATION_ID AND FILE_NAME != 'No_File' group by 1,2,3,4) A LEFT JOIN (SELECT * FROM ABACUS_PRD_FND_DB.CONTROL.LANDING_RECORD_COUNT_INGESTIONID WHERE INGESTIONID = $VALIDATION_ID) B ON UPPER(A.OBJ_NAME) = B.TABLE_NAME AND A.INGESTION_ID = B.INGESTIONID) C WHERE C.LOAD_STATUS = 'PASS' HAVING PASS_COUNT = $FILE_COUNT AND  PASS_COUNT > 0 AND $FILE_COUNT > 0 ));"}
      );
  rs = stmt.execute();



  stmt = snowflake.createStatement(
      {sqlText: "UPDATE ABACUS_PRD_FND_DB.CONTROL.ENTITY_LOAD_LOG_LANDING SET SOURCE_DATA_STATUS = 'SUCCESS', SOURCE_DATA_LOAD_END_TIME = CURRENT_TIMESTAMP() WHERE INGESTION_ID IN ( SELECT INGESTIONID FROM ( SELECT $VALIDATION_ID AS INGESTIONID, COUNT(*)  AS PASS_COUNT FROM (   SELECT A.*, B.RECORD_COUNT, CASE WHEN A.RECORD_COUNT_MF = B.RECORD_COUNT THEN 'PASS' ELSE 'FAIL' END AS LOAD_STATUS FROM (SELECT  CONNECTOR, SOURCE, TABLE_NAME, BATCH_ID AS INGESTION_ID, SUM(COUNT) AS  RECORD_COUNT_MF  FROM ABACUS_PRD_FND_DB.CONTROL.SOURCE_DATA_MANIFEST WHERE INGESTION_ID = $VALIDATION_ID AND FILE_NAME != 'No_File' group by 1,2,3,4 ) A LEFT JOIN  (SELECT * FROM ABACUS_PRD_FND_DB.CONTROL.SOURCE_DATA_RECORD_COUNT_INGESTIONID  WHERE INGESTIONID = $VALIDATION_ID) B ON UPPER(A.TABLE_NAME) = B.TABLE_NAME AND A.INGESTION_ID = B.INGESTIONID ) C WHERE C.LOAD_STATUS = 'PASS' HAVING PASS_COUNT = $SD_FILE_COUNT AND  PASS_COUNT > 0 ));"}
      );
  rs = stmt.execute();




  stmt = snowflake.createStatement(
      {sqlText: "UPDATE ABACUS_PRD_FND_DB.CONTROL.ENTITY_LOAD_LOG_LANDING SET DOMAIN_STATUS = 'FAILED', DOMAIN_LOAD_END_TIME = NULL WHERE INGESTION_ID IN (select DISTINCT INGESTION_ID from (     select     *,     row_number() over(partition by CONNECTOR, SOURCE, TABLE_NAME, FILE_NAME  order by LOAD_END_TIME DESC) as rn     from     (         SELECT A.INGESTION_ID, A.CONNECTOR, A.SOURCE, B.* FROM         (SELECT * FROM ABACUS_PRD_FND_DB.CONTROL.MANIFEST_LANDING where INGESTION_ID = $VALIDATION_ID) A         LEFT JOIN         (SELECT * FROM ABACUS_PRD_FND_DB.CONTROL.COPY_LOAD_HISTORY ) B         ON A.FILE_NAME = B.FILE_NAME     ) ) t where t.rn = 1 AND STATUS NOT IN ('LOADED'))"}
      );
  rs = stmt.execute();



  stmt = snowflake.createStatement(
      {sqlText: "UPDATE ABACUS_PRD_FND_DB.CONTROL.ENTITY_LOAD_LOG_LANDING SET SOURCE_DATA_STATUS = 'FAILED', SOURCE_DATA_LOAD_END_TIME = NULL WHERE INGESTION_ID IN (  select DISTINCT INGESTIONID from (     select     *,     row_number() over(partition by CONNECTOR, SOURCE, TABLE_NAME, FILE_NAME  order by LOAD_END_TIME DESC) as rn                                         from     (         SELECT A.BATCH_ID AS INGESTIONID, A.CONNECTOR, A.SOURCE, B.* FROM         (SELECT * FROM ABACUS_PRD_FND_DB.CONTROL.SOURCE_DATA_MANIFEST where BATCH_ID = $VALIDATION_ID) A         LEFT JOIN         (SELECT * FROM ABACUS_PRD_FND_DB.CONTROL.COPY_LOAD_HISTORY ) B ON A.FILE_NAME = B.FILE_NAME     ) ) t where t.rn = 1 AND STATUS NOT IN ('LOADED'))"}
      );
  rs = stmt.execute();



  stmt = snowflake.createStatement(
      {sqlText: "UPDATE ABACUS_PRD_FND_DB.CONTROL.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}} SET INGESTION_STATUS  = 'LOAD_COMPLETED' WHERE INGESTION_ID = $VALIDATION_ID AND ($VALIDATION_ID,  $SUCCESS_STATUS, $SUCCESS_STATUS) IN (SELECT INGESTION_ID, DOMAIN_STATUS, SOURCE_DATA_STATUS FROM  ABACUS_PRD_FND_DB.CONTROL.ENTITY_LOAD_LOG_LANDING WHERE  INGESTION_ID = $VALIDATION_ID AND DOMAIN_STATUS =  $SUCCESS_STATUS AND SOURCE_DATA_STATUS = $SUCCESS_STATUS  )"}
      );
  rs = stmt.execute();


  var rs = snowflake.execute( { sqlText:
        `COMMIT;`
         } );

  rs.next();
  var output = rs.getColumnValue(1);
  return output;
  $$
  ;
  
ALTER TASK ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_TASK1 SUSPEND;

  
CREATE OR REPLACE TASK ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_TASK2
  warehouse = PRD_ABACUS_VALDN_XS_WH
AFTER ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_TASK1
AS
  call ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_PROC2();


ALTER TASK ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_TASK2 RESUME;
ALTER TASK ABACUS_PRD_FND_DB.LANDING.CONNECTOR_TRIGGER_{{UPPER_CONNECTOR}}_TASK1 RESUME;
